@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes triangleRotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(0) rotateY(0) rotateZ(360deg);
    }
}

@layer components {
    .text-drop-capital {
        @apply font-display text-8xl
    }

    .text-display {
        @apply font-display text-6xl font-normal
    }

    .text-soft-display {
        @apply text-3xl font-normal
    }

    .text-h1 {
        @apply text-4xl font-normal
    }

    .text-h2 {
        @apply text-xl font-normal
    }

    .text-cta {
        @apply font-display text-xl font-normal
    }

    .text-p {
        @apply text-base font-normal
    }

    .text-label {
        @apply text-sm font-light italic
    }

    .text-label-2 {
        @apply text-base font-light italic uppercase
    }

    .decoration {
        @apply relative;
    }

    .decoration::after {
        content: "";
        @apply block absolute inset-0 border border-yellow transition-transform -translate-x-0.5 -translate-y-0.5
    }

    .decoration:hover::before,
    .decoration:hover::after {
        @apply translate-x-0 translate-y-0
    }

    .decoration::before {
        content: "";
        @apply block absolute inset-0 border border-brown transition-transform translate-x-0.5 translate-y-0.5
    }

    .decoration-rounded {
        @apply relative;
    }

    .decoration-rounded::after {
        content: "";
        @apply rounded-full block absolute inset-0 border border-yellow transition-transform -translate-x-px -translate-y-px
    }

    .decoration-rounded::before {
        content: "";
        @apply rounded-full block absolute inset-0 border border-brown transition-transform translate-x-px translate-y-px
    }

    .animation-triangle {
        animation: triangleRotate 10s infinite linear;
    }
}