@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-h1 {
        @apply font-display text-4xl font-normal
    }

    .text-h2 {
        @apply text-2xl font-normal
    }

    .text-cta {
        @apply font-display text-xl font-normal
    }

    .text-p {
        @apply text-base font-normal
    }

    .text-label {
        @apply text-base font-light italic
    }

    .decoration {
        @apply relative bg-black/50;
    }


    .decoration::after {
        content: "";
        @apply block absolute inset-0 border border-yellow transition-transform -translate-x-0.5 -translate-y-0.5
    }

    .decoration:hover::before,
    .decoration:hover::after {
        @apply translate-x-0 translate-y-0
    }

    .decoration::before {
        content: "";
        @apply block absolute inset-0 border border-brown transition-transform translate-x-0.5 translate-y-0.5
    }

    .decoration-rounded {
        @apply relative bg-black/50;
    }

    .decoration-rounded::after {
        content: "";
        @apply rounded-full block absolute inset-0 border border-yellow transition-transform -translate-x-px -translate-y-px
    }

    .decoration-rounded::before {
        content: "";
        @apply rounded-full block absolute inset-0 border border-brown transition-transform translate-x-px translate-y-px
    }
}